html,
body {
  height: 100%;
  background-color: #DCDCDC;
}
body {
  color: #333;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.profile-img-small {
	max-height: 45px;
	width: auto;
	padding-top: 4px;
}